name: Release

on:
  workflow_dispatch:
    inputs:
      aur_pkgrel:
        description: 'Release version for AUR package'
        type: string
        required: false
        default: '1'
  release:
    types: [created]

env:
  BINNAME: vscode-recent
  LIBNAME: librofi_vscode_mode.so

jobs:
  aur:
    name: AUR
    runs-on: ubuntu-latest
    if: github.repository == 'fuljo/rofi-vscode-mode'
    env:
      PKGREL: ${{ github.event.inputs.aur_pkgrel || '1' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable

      - name: Generate package metadata
        run: cargo metadata --no-deps --format-version 1 > metadata.json

      - name: Generate PKGBUILD
        run: >
          ci/generate_pkgbuild.py
          --template ci/PKGBUILD.in
          --package-release $PKGREL
          --metadata metadata.json
          --out-dir .

      - run: cat PKGBUILD

      - name: Publish PKGBUILD
        uses: KSXGitHub/github-actions-deploy-aur@v2.7.1
        with:
          pkgname: rofi-vscode-mode
          pkgbuild: PKGBUILD
          updpkgsums: true
          test: true
          test_flags: --clean --cleanbuild --syncdeps --install --noconfirm
          commit_username: ${{ secrets.AUR_USERNAME }}
          commit_email: ${{ secrets.AUR_EMAIL }}
          ssh_private_key: ${{ secrets.AUR_SSH_PRIVATE_KEY }}
